<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Implementation Plans
  </div>

  <ul class="list-group list-group-flush">
    <% @user.implementation_plans.each do |improvement_plan| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/improvement_plans/<%= improvement_plan.id %>">
          <%= improvement_plan.description %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
