<h1>
  Add a new comment
</h1>


<hr>

<!-- Form comment start -->
<form action="/create_comment" method="post">
<!-- Form comment end -->

  <!-- Label and input for improvement_plan_id start -->
  <div class="form-group">
    <label for="improvement_plan_id">
      Improvement plan
    </label>

    <!-- Input for improvement_plan_id start -->
    <%= select_tag(:improvement_plan_id, options_from_collection_for_select(ImprovementPlan.all, :id, :description, @comment.improvement_plan_id), :class => "form-control") %>
    <!-- Input for improvement_plan_id end -->
  </div>
  <!-- Label and input for improvement_plan_id end -->

  <!-- Label and input for goal_id start -->
  <div class="form-group">
    <label for="goal_id">
      Goal
    </label>

    <!-- Input for goal_id start -->
    <input type="text" id="goal_id" name="goal_id" class="form-control">
    <!-- Input for goal_id end -->
  </div>
  <!-- Label and input for goal_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>

<hr>

<a href="/comments">
  Go back
</a>
