<form action="/create_improvement_plan_from_status" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @improvement_plan.description %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="status_id" value="<%= @status.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create improvement plan
  </button>
</form>
