<h1>
  Add a new status
</h1>


<hr>

<!-- Form status start -->
<form action="/create_status" method="post">
<!-- Form status end -->

  <!-- Label and input for status start -->
  <div class="form-group">
    <label for="status">
      Status
    </label>

    <!-- Input for status start -->
    <input type="text" id="status" name="status" class="form-control">
    <!-- Input for status end -->
  </div>
  <!-- Label and input for status end -->

  <button class="btn btn-block btn-outline-secondary">
    Create status
  </button>
</form>

<hr>

<a href="/statuses">
  Go back
</a>
