<% if @status.present? %>
  <% if @status.errors.any? %>
    <% @status.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new status
</h1>


<hr>

<form action="/create_status" method="post">

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @status.status %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create status
  </button>
</form>

<hr>

<a href="/statuses">
  Go back
</a>
