<form action="/create_coaching_from_improvement_plan" method="post">

  <input type="hidden" name="improvement_plan_id" value="<%= @improvement_plan.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @coaching.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create coaching
  </button>
</form>
