<!-- Validation failure messages -->
<% if @coaching.present? %>
  <% if @coaching.errors.any? %>
    <% @coaching.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new coaching
</h1>


<hr>

<!-- Form coaching start -->
<form action="/create_coaching" method="post">
<!-- Form coaching end -->

  <!-- Label and input for improvement_plan_id start -->
  <div class="form-group">
    <label for="improvement_plan_id">
      Improvement plan
    </label>

    <!-- Input for improvement_plan_id start -->
    <%= select_tag(:improvement_plan_id, options_from_collection_for_select(ImprovementPlan.all, :id, :description, @coaching.improvement_plan_id), :class => "form-control") %>
    <!-- Input for improvement_plan_id end -->
  </div>
  <!-- Label and input for improvement_plan_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @coaching.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create coaching
  </button>
</form>

<hr>

<a href="/coachings">
  Go back
</a>
