<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Actions

    <a data-toggle="collapse" href="#goal_actions_new_form">
      Add action
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @goal.actions.each do |action| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/actions/<%= action.id %>">
          <%= action.target_date %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_action_from_goal/<%= action.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="goal_actions_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "goal_templates/goal_actions_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
